# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Admin (mot de passe pour l'interface d'admin)
ADMIN_PASSWORD=

# Email (Resend)
RESEND_API_KEY=
EMAIL_FROM="ATS Valrose <contact@ats-valrose.fr>"
EMAIL_TO_NOTIFICATIONS=contact@ats-valrose.fr
